                  
<div class="text-center">Chào, {{CUser.Hoten}} !</div>
<ng-container *ngIf="IsshowCam; else elseTemplate">
  <div class="lg:w-96 w-52 p-2">  
  <zxing-scanner #scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <!-- <div class="text-center py-2">
    <button mat-raised-button color="primary" (click)="startScanner()">Quét QR</button>
  </div> -->
  <div class="p-3 text-red-500 text-center" *ngIf="Ketqua.Tieude">
      {{Ketqua.Tieude}} - Quẹt Lúc : {{Today()|date:'dd/MM/yyyy'}}
  </div>
</ng-template>