<div class="w-full flex justify-center bg-[#005ab7] text-white">
  <div class="container grid lg:grid-cols-4  grid-cols-1 gap-4 p-8">
    <div class="flex flex-row items-center space-x-4">
      <img class="mx-auto" src="assets/img/logo-vuong.png" alt="logo" />
      <span class="text-xl font-bold">TRƯỜNG CAO ĐẲNG NGHỀ TP.HỒ CHÍ MINH</span>
    </div>
    <div class="lg:col-span-2 flex flex-col space-y-2">
      <span>Cơ sở 1: 235 đường Hoàng Sa, phường Tân Định, Quận 1, Thành phố Hồ Chí Minh. Điện thoại:(028) 38 483 265</span>
      <span>Cơ sở 2: 19A, Đường 17, phường Linh Chiểu, TP.Thủ Đức, Thành phố Hồ Chí Minh. Điện thoại: (028) 37.225.782</span>
      <span>HOTLINE & ZALO: 0924116266 Email: hcmvc@cdntphcm.edu.vn</span>
    </div>
    <div class="flex flex-col space-y-2 lg:px-8 lg:mb-0 mb-10">
        <div class="flex flex-row justify-between">
          <span>Đang Online</span>
          <span>{{Dangonline| number:'1.0-0'}}</span>
        </div>
        <div class="flex flex-row justify-between">
          <span>Hôm Nay</span>
          <span>{{Homnay| number:'1.0-0'}}</span>
        </div>
        <div class="flex flex-row justify-between">
          <span>Hôm Qua</span>
          <span>{{Homqua| number:'1.0-0'}}</span>
        </div>
        <div class="flex flex-row justify-between">
          <span>Tổng Cộng</span>
          <span>{{Tongcong| number:'1.0-0'}}</span>
        </div>
    </div>
  </div>
</div>
