<mat-drawer-container class="example-container min-h-[50vh] h-full" autosize>
  <mat-drawer [mode]="SidenavMode" [opened]="isOpen" position="end" class="!w-3/4" #drawer>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-tree class="p-4" [dataSource]="treedataSource" [treeControl]="treeControl">
      <mat-tree-node (click)="drawer.toggle()" *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{node.Title}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <div class="w-full group flex flex-row space-x-2 items-center justify-between">
          <div class="flex flex-row space-x-2 items-center">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <span class="material-symbols-outlined">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </span>
            </button>
            <span>
              {{node.Title}}
            </span>
          </div>
          <div class="flex flex-row space-x-2 items-center">
            <span class="material-symbols-outlined p-2 border rounded-full 
        bg-slate-200 text-blue-500 
        hover:bg-blue-500 hover:text-white">
              add_circle
            </span>
            <!-- <span class="hidden group-hover:block material-symbols-outlined p-2 border rounded-full 
        bg-slate-200 text-blue-500 
        hover:bg-blue-500 hover:text-white">
              edit_square
            </span>
            <span class="hidden group-hover:block material-symbols-outlined p-2 border rounded-full 
        bg-slate-200 text-red-500 
        hover:bg-red-500 hover:text-white">
              delete
            </span> -->

          </div>
        </div>
      </mat-tree-node>
    </mat-tree>
  </div>
</mat-drawer-container>