<div class="h-[90vh] flex flex-col space-y-2 py-8">
  <div class="w-full flex flex-row space-x-2">
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Tìm kiếm</mat-label>
      <input type="text" #input matInput class="w-full border border-gray-200 rounded" [placeholder]="'Tìm kiếm'"
        (keyup)="applyFilter($event)" />
    </mat-form-field>
    <div (click)="writeExcelFile()" class="flex flex-col items-center justify-center p-2 hover:bg-gray-200 rounded-lg">
      <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_download</span>
      <span class="text-xs">Download</span>
    </div>
    <div (click)="Addrow()" class="flex flex-col items-center justify-center p-2 hover:bg-gray-200 rounded-lg">
      <span class="material-symbols-outlined text-xl" matTooltip="Thêm">add_circle</span>
      <span class="text-xs">Thêm Hàng</span>
    </div>
  </div>
  <div class="border overflow-auto pb-8">
    <table class="w-full" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="STT">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
        <td mat-cell *matCellDef="let row; let i= index">
          <div class="group flex items-center">
            <span class="group-hover:hidden block">{{i+1}}</span>
            <button mat-icon-button (click)="DeleteItem(row)">
              <span class="group-hover:block hidden material-symbols-outlined text-red-500">delete</span>
            </button>

          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="TenTSCD">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Tên TSCĐ </th>
        <td mat-cell *matCellDef="let row, let i=index">
          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle1(trigger,i)">
            <span class="line-clamp-3" [matTooltip]="row.TenTSCD">{{row.TenTSCD||"Chưa chọn"}}</span>
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay1[i]=false"
            [cdkConnectedOverlayOpen]="Overlay1[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <span class="material-symbols-outlined text-gray-300">search</span>
                </div>
                <input type="text"
                  class="border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full ps-10 p-2.5 "
                  placeholder="Tìm Kiếm" (input)="FilterOverlay1($event)" />
              </div>

              <div class=" mt-2 border-t flex flex-col divide-y overflow-auto max-h-[40vh] border rounded-lg">
                @for (item of FilterTSCD; track $index) {
                <div (click)="ChooseOverlay1(item,i);Overlay1[i]=false"
                  class="cursor-pointer p-2 hover:bg-blue-gray-100 min-w-60 max-w-80">
                  {{item.Tieude}}
                </div>
                }
              </div>
            </div>
          </ng-template>
          <!-- <span class="line-clamp-2">
            {{row.TenTSCD}}
          </span> -->
        </td>
      </ng-container>
      <ng-container matColumnDef="Hangmuc">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Hạng mục </th>
        <td mat-cell *matCellDef="let row, let i=index">

          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle2(trigger,i)">
            {{row.Hangmuc||"Chưa chọn"}}
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay2[i]=false"
            [cdkConnectedOverlayOpen]="Overlay2[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <span class="material-symbols-outlined text-gray-300">search</span>
                </div>
                <input type="text" [(ngModel)]="input2" [ngModelOptions]="{standalone: true}"
                  class="border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full ps-10 p-2.5 "
                  placeholder="Tìm Kiếm" (input)="FilterOverlay2($event)" />
              </div>

              <div class=" mt-2 border-t flex flex-col divide-y overflow-auto max-h-[40vh] border rounded-lg">
                @if(FilterHangmuc.length>0)
                {
                @for (item of FilterHangmuc; track $index) {
                <div (click)="ChooseOverlay2(item,i);Overlay2[i]=false" class="p-2 hover:bg-blue-gray-100 min-w-60">
                  {{item.Title}}
                </div>
                }
                }
                @else
                {
                @if(input2.length>0)
                {
                <div (click)="AddHangmuc(input2)"
                  class="p-2 flex flex-row space-x-2 items-center hover:bg-blue-gray-100 min-w-60">
                  <span>Chưa có Hạng Mục : </span>
                  <span class="font-bold">{{input2.value}}</span>
                  <span class="material-symbols-outlined cursor-pointer">add_circle</span>
                </div>
                }
                @else{
                <div class="p-2">
                  Vui lòng nhập để tìm hoặc thêm mới
                </div>

                }

                }

              </div>
            </div>
          </ng-template>


          <!-- <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle(trigger)">
            {{row.Hangmuc||"Chưa chọn"}}
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="isOpen=false"
            [cdkConnectedOverlayOpen]="isOpen">
            <div class="p-2 flex flex-col bg-white rounded-lg border">

              <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <span class="material-symbols-outlined text-gray-300">search</span>
                </div>
                <input type="text"
                  class="border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full ps-10 p-2.5 "
                  placeholder="Tìm Kiếm" />
              </div>

              <div class=" mt-2 border-t flex flex-col divide-y overflow-auto max-h-[40vh] border rounded-lg">
                @for (item of [1,2,3,4,5,6,7,8]; track $index) {
                <div class="p-2 hover:bg-blue-gray-100 min-w-60">
                  {{item}}
                </div>
                }
              </div>
            </div>
          </ng-template> -->
        </td>
      </ng-container>


      <ng-container matColumnDef="Tinhtrang">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Tình Trạng </th>
        <td mat-cell *matCellDef="let row;let i = index">
          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle3(trigger,i)">
            {{row.Tinhtrang||"Chưa chọn"}}
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay3[i]=false"
            [cdkConnectedOverlayOpen]="Overlay3[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <span class="material-symbols-outlined text-gray-300">search</span>
                </div>
                <input type="text" [(ngModel)]="input3" [ngModelOptions]="{standalone: true}"
                  class="border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full ps-10 p-2.5 "
                  placeholder="Tìm Kiếm" (input)="FilterOverlay3($event)" />
              </div>

              <div class=" mt-2 border-t flex flex-col divide-y overflow-auto max-h-[40vh] border rounded-lg">
                @if(FilterTrangthai.length>0)
                {
                @for (item of FilterTrangthai; track $index) {
                <div (click)="ChooseOverlay3(item,i);Overlay3[i]=false" class="p-2 hover:bg-blue-gray-100 min-w-60">
                  {{item.Title}}
                </div>
                }
                }
                @else
                {
                @if(input3.length>0)
                {
                <div (click)="AddTrangthai(input3);Overlay3[i]=false"
                  class="p-2 flex flex-row space-x-2 items-center hover:bg-blue-gray-100 min-w-60">
                  <span>Chưa có Trạng thái : </span>
                  <span class="font-bold">{{input3}}</span>
                  <span class="material-symbols-outlined cursor-pointer">add_circle</span>
                </div>
                }
                @else{
                <div class="p-2">
                  Vui lòng nhập để tìm hoặc thêm mới
                </div>

                }

                }

              </div>
            </div>
          </ng-template>


        </td>
      </ng-container>

      <ng-container matColumnDef="Ngaythuchien">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>  Ngày thực hiện </th>
        <td mat-cell *matCellDef="let row;let i=index">
          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle4(trigger,i)">
            <div class="flex flex-row space-x-2 items-center">
              {{(row.Ngaythuchien|date:'dd/MM/yyyy')||"Chưa chọn"}}
              <span class="material-symbols-outlined">calendar_month</span>
            </div>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay4[i]=false"
            [cdkConnectedOverlayOpen]="Overlay4[i]">
            <div class="border-t flex flex-col divide-y overflow-auto border rounded-lg">
              <mat-card class="min-w-80">
                <mat-calendar [(selected)]="DataMau[i].Ngaykiemtra"
                  (selectedChange)="ChooseOverlay4($event,i)"></mat-calendar>
              </mat-card>
            </div>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="Noidungthuchien">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung thực hiện </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <div class="group flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle6(trigger,i)">
            <span class="group-hover:hidden block">{{row.Noidungthuchien||"Chưa chọn"}}</span>
            <span class="group-hover:block hidden material-symbols-outlined">edit</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay6[i]=false"
            [cdkConnectedOverlayOpen]="Overlay6[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-full">
                <textarea matInput [(ngModel)]="DataMau[i].Noidungthuchien" [ngModelOptions]="{standalone: true}"
                  placeholder="Nội Dung Thực Hiện"></textarea>
              </mat-form-field>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Saukhithuchien">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Sau khi thực hiện </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <div class="group flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle7(trigger,i)">
            <span class="group-hover:hidden block">{{row.Saukhithuchien||"Chưa chọn"}}</span>
            <span class="group-hover:block hidden material-symbols-outlined">edit</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay7[i]=false"
            [cdkConnectedOverlayOpen]="Overlay7[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-full">
                <textarea matInput [(ngModel)]="DataMau[i].Saukhithuchien" [ngModelOptions]="{standalone: true}"
                  placeholder="Nội Dung Sau Thực Hiện"></textarea>
              </mat-form-field>
            </div>
          </ng-template>
        </td>
      </ng-container>


      <ng-container matColumnDef="Ghichu">
        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Ghi chú </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <div class="group flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (click)="toggle5(trigger,i)">
            <span class="group-hover:hidden block">{{row.Ghichu||"Chưa chọn"}}</span>
            <span class="group-hover:block hidden material-symbols-outlined">edit</span>
          </div>
          <ng-template [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-50"
            cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerOrigin" (backdropClick)="Overlay5[i]=false"
            [cdkConnectedOverlayOpen]="Overlay5[i]">
            <div class="p-2 flex flex-col bg-white rounded-lg border shadow-lg">
              <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-full">
                <textarea matInput [(ngModel)]="DataMau[i].Ghichu" [ngModelOptions]="{standalone: true}"
                  placeholder="Ghi Chú"></textarea>
              </mat-form-field>
            </div>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-blue-gray-50 cursor-pointer"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" class="p-4">
          Không Có Dữ Liệu
        </td>
      </tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </div>

  <!-- <div class="flex flex-row justify-between space-x-2">
    <div class="flex flex-col space-y-2 justify-center items-center">
      <div>TRƯỜNG CAO ĐẲNG NGHỀ</div>
      <div>THÀNH PHỐ HỒ CHÍ MINH</div>
      <div class="font-bold">KHOA: ĐIỆN - ĐIỆN LẠNH</div>
    </div>
    <div class="flex flex-col space-y-2 justify-center items-center">
      <div class="font-bold uppercase">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
      <div>Độc lập - Tự do - Hạnh phúc</div>
    </div>
  </div>
  <div class="text-xl font-bold text-center">TỔNG HỢP THIẾT BỊ KHOA ĐIỆN - ĐIỆN LẠNH</div> -->
</div>
