/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'angular-notifier/styles.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ddd;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #00256e;
  }
.mdc-notched-outline__notch
{
  border: 0;
}
video{
    border-radius: 0.5rem;
}
.cdk-overlay-pane
{
  max-width: 100vw !important;
}
.printarea
{
  font-size: 14px !important;
}
