<!-- <section class="h-full gradient-form bg-gray-200">
  <div class="container py-12 px-6 h-full m-auto">
    <div class="flex justify-center flex-wrap h-full g-6 text-gray-800">
      <div class="xl:w-6/12 w-full">
        <div class="block bg-white shadow-lg rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0">
            <div class="lg:w-full px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <form class="flex flex-col space-y-2 max-w-[400px] m-auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Tên Đăng Nhập</mat-label>
                    <input matInput placeholder="Tên Đăng Nhập" [(ngModel)]="User.SDT"
                      [ngModelOptions]="{standalone: true}">
                    <mat-icon matPrefix class="mr-4"><span class="material-icons">
                        account_circle
                      </span></mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Mật Khẩu</mat-label>
                    <input matInput type="password" placeholder="Mật Khẩu" [(ngModel)]="User.password"
                      [ngModelOptions]="{standalone: true}">
                    <mat-icon matPrefix class="mr-4"><span class="material-icons">
                        vpn_key
                      </span></mat-icon>
                  </mat-form-field>
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button mat-raised-button color="primary" (click)="Dangnhap(User)">Đăng Nhập</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="p-4">
  <div class="container lg:max-w-lg lg:m-auto rounded-lg border p-8 flex flex-col space-y-6 bg-white ">
    <div class="flex flex-col space-y-2">
      <img src="/assets/img/logo-vuong.png" class="p-3 mx-auto">
      <span class="text-center font-bold">TRƯỜNG CAO ĐẲNG NGHỀ TP.HỒ CHÍ MINH</span>
    </div>

    <span class="text-xl font-bold text-center uppercase">Đăng nhập</span>
    <div class="flex flex-col space-y-2 lg:w-2/3 w-full mx-auto">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Số Điện Thoại</mat-label>
        <input [(ngModel)]="User.SDT" [ngModelOptions]="{standalone: true}" type="text" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Số Điện Thoại'" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Mật Khẩu</mat-label>
        <input [(ngModel)]="User.password" [ngModelOptions]="{standalone: true}" type="text" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Mật Khẩu'" />
      </mat-form-field>
      <div class="flex justify-center">
        <!-- <button mat-flat-button color="primary">Đăng Nhập</button> -->
        <button (click)="Dangnhap(User)" mat-flat-button color="primary">Đăng Nhập</button>
      </div>

    </div>
  </div>
</div>