<div class="p-4 !flex flex-col flex-auto min-w-0 relative bg-white">
    <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between">
      <div class="relative flex flex-col space-y-2 items-center">
          <div class="text-center text-xl font-bold">Lịch Sử</div>
          <div class="flex flex-row space-x-3 cursor-pointer">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Tìm Kiếm</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Tìm Kiếm" #input>
                <button mat-icon-button matPrefix class="mx-2"> <span class="material-symbols-outlined">search</span></button>
            </mat-form-field>
            <div
              class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_download</span>
              <span class="text-xs">Download</span>
            </div>
            <!-- <div (click)="uploadfile.click()"
              class="whitespace-nowrap flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
              <span class="text-xs">Tải Lên</span>
              <input class="hidden" type="file" #uploadfile>
            </div> -->
          </div>
      </div>
      <div class="w-full border overflow-auto">
        <table class="w-full" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Hoten">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
            <td class="whitespace-nowrap" mat-cell *matCellDef="let row"> {{row.User.Hoten}} </td>
          </ng-container>
          <ng-container matColumnDef="SDT">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại </th>
            <td class="whitespace-nowrap" mat-cell *matCellDef="let row"> {{row.User.SDT}} </td>
          </ng-container>
          <ng-container matColumnDef="Tieude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiêu Đề </th>
            <td mat-cell *matCellDef="let row">
              <div class="line-clamp-2">
               <span  matTooltip="{{row.Thietbi.Tieude}}">{{row.Thietbi.Tieude}}</span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row">
              <div>
                {{row.Thietbi.Code}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Trangthai">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
            <td class="whitespace-nowrap" mat-cell *matCellDef="let row">
              <span class="{{row.Trangthai==0?'text-red-600':'text-green-600'}}">
              {{row.Trangthai==0?"Đang Sử Dụng":"Đã Trả"}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Ngaytao">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Dùng </th>
            <td class="whitespace-nowrap" mat-cell *matCellDef="let row"> {{row.Ngaytao|date:'HH:mm:ss dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="NgayCapnhat">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Trả </th>
            <td class="whitespace-nowrap" mat-cell *matCellDef="let row">
              @if (row.Trangthai==0) {
                <span class="text-red-600">--</span>
              }
              @else {
                {{row.NgayCapnhat|date:'HH:mm:ss dd/MM/yyyy'}}
              }
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-slate-200"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4 justify-center" colspan="4">Không Tìm Thấy {{input.value}} hoặc Chưa Có Dữ Liệu</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" hidePageSize="true"></mat-paginator>
      </div>
  </div>


